.team {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: #393e46;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.team-heading-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}

.team-heading {
  font-size: 2rem;
  font-weight: 300;
  color: #ffd369;
  padding-bottom: 1.5rem;
  margin: auto;
}

.team-txt {
  font-size: 1rem;
  font-weight: 75;
  line-height: 1.6;
  padding-right: 1rem;
  padding-left: 1rem;
}

.lords-team {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1.5rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 235px;
  background-color: #222831;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 1rem;
}

.team-avatar {
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  height: auto;
  width: 200px;
  margin: auto;
}

.team-member-name {
  color: #ffff;
  font-size: 1rem;
  font-weight: 150;
  margin: auto;
  padding: 1rem;
}

.team-member-job {
  color: #545e6f;
  font-size: 0.75rem;
  margin: auto;
}

.team-twitter-icon {
  margin: auto;
  padding-top: 2rem;
  color: #1da1f2;
}

@media screen and (max-width: 960px) {
  .team {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lords-team {
    flex-direction: column;
  }
}
